* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

body {
  background-color: #eee;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
}

nav h3 a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.navItems {
  display: flex;
  list-style-type: none;
}

.navItems a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1.5rem;
}

.headerImg {
  background-image: url(images/brian-erickson-XFneC_rHR48-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  color: rgba(105, 255, 165, 0.82);
  font-size: 20rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main {
  display: grid;
  grid-template:
    "runLog dist" 80vh
    "pace pace" 80vh
    / 60% 1fr;
}

@media screen and (max-width: 850px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .headerImg {
    height: 80vh;
    width: auto;
  }

  .headerText {
    font-size: 17rem;
  }
}

@media screen and (max-width: 680px) {
  .headerImg {
    height: 70vh;
    width: auto;
  }
  .headerText {
    font-size: 13rem;
  }
}

@media screen and (max-width: 580px) {
  .headerImg {
    height: 50vh;
    width: auto;
  }

  .headerText {
    font-size: 10rem;
  }

  .runLog {
    padding: 0;
    margin: 0;
  }

  #runLog-header {
    width: 100%;
  }

  .runLog-card {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  nav h3 a {
    font-size: 1.2rem;
  }

  .navItems a {
    font-size: 1rem;
  }
  .headerImg {
    height: 40vh;
    width: auto;
  }
  .headerText {
    font-size: 7rem;
  }
}

.runLog {
  grid-area: runLog;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

#runLog-header {
  width: 90%;
  color: white;
  background-color: #4bb4ef;
}

.runLog-card {
  width: 90%;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: 0 3px 6px #999;
  display: grid;
  grid-template:
    minmax(10px, 10%)
    minmax(10px, 10%)
    minmax(20px, 10%)
    minmax(10px, 10%)
    minmax(10px, 10%)
    minmax(10px, 10%)
    minmax(10px, 10%)
    minmax(10px, 10%)
    minmax(10px, 10%)
    minmax(10px, 10%)
    / minmax(10px, 10%) minmax(80px, 10%) minmax(10px, 10%) minmax(80px, 10%) minmax(
      10px,
      10%
    )
    minmax(80px, 10%) minmax(10px, 10%) minmax(50px, 10%) minmax(50px, 10%) minmax(10px, 10%);
}

.type-run {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  grid-area: 3 / 2 / 4 / 5;
}

.date-run {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  grid-area: 4 / 2 / 5 / 3;
}

.card-dist {
  grid-area: 7 / 2 / 8 / 3;
}

.card-pace {
  grid-area: 7 / 4 / 8 / 5;
}

.card-time {
  grid-area: 7 / 6 / 8 / 7;
}

.log-dist {
  grid-area: 8 / 2 / 9 / 3;
}

.log-pace {
  grid-area: 8 / 4 / 9 / 5;
}

.log-time {
  grid-area: 8 / 6 / 9 / 7;
}

.card-notes {
  font-size: 1.3rem;
  font-weight: bold;
  grid-area: 3 / 8 / 4 / 10;
}

.runLog-comments {
  text-align: left;
  grid-area: 4 / 8 / 8 / 10;
}

#runLog-btn {
  width: 90%;
  color: white;
  background-color: #0122d2;
  border: none;
  height: 1.8rem;
}

.distConvert {
  grid-area: dist;
  background-color: blue;
}

.paceCalc {
  grid-area: pace;
  background-color: green;
}
